html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs {
    background: #007b5e;
    color: #eee;
}

#tabs h6.section-title {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0455A4;
    background-color: transparent;
    border-color: transparent transparent #0455A4;
    border-bottom: 4px solid !important;
    font-size: 18px;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 15px;
}

.table {
    table-layout: fixed;
}

.modal-confirm {
    color: #636363;
    width: 325px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: rgb(28, 161, 2);
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}

.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: rgb(28, 161, 2);
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}

.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: rgb(28, 161, 2);
    outline: none;
}

.btn-primary {
    background-color: #0455A4;
    border-color: #0455A4;
}

.btn-primary:hover {
    background-color: #1F4096;
    border-color: #1F4096;
}

.btn-secondary {
    background-color: #A5A8AA;
    border-color: #A5A8AA;
}

.btn-secondary:hover {
    background-color: #5E6669;
    border-color: #5E6669;
}

.pagination > li > a,
.pagination > li > span {
    color: #1F4096;
}

.page-item.active .page-link {
    background-color: #1F4096;
    border-color: #1F4096;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #1F4096;
    border-color: #1F4096;
}

.truncate {
    display: block;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled {
    margin-left: 0;
}

@media (min-width: 768px) {

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled {
        margin-left: -15rem;
    }
}

@media print {
    .print-button, .input-fields {
        display: none;
    }
}
